<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iTip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDB43E091C145DEF003CDAB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDB43E221C145DEF003CDAB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDB43E2D1C145DEF003CDAB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
